<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<section th:fragment="facets (facets, filters)">
    <div class="button-grid">
        <div th:if="${!facets.isEmpty()}">
            <input id="filter-apply" type="submit" th:form="local-search" class="button columns large-6"
                   value="Apply filters" disabled/>
            <input id="filter-clear" th:onclick="|clearFilters()|" type="button"
                   th:form="local-search" class="button columns large-6"
                   value="Clear filters" th:disabled="${filters.isEmpty()}"/>
        </div>
        <script th:inline="javascript">
            function clearFilters() {
                let $filtersCheckboxes = $(".facet-checkbox");
                filterForm = $("#local-search");
                $filtersCheckboxes.each(function (index, elem) {
                    elem.checked = false;
                });
                filterForm.submit();
            }
        </script>
    </div>

    <div th:each="facet: ${facets}"
         th:with="facetType = ${facet.getType().getFacetName()},
				 		  filterType=${facet.getAssociatedFilterType().get()},
				 		  generalFilterName=${filterType.getSerialization() + ':' + facet.label}">

        <div class="facet-container">
            <input th:form="local-search"
                   class="facet-checkbox"
                   th:id="${generalFilterName}"
                   type="checkbox" name="filter"
                   th:value="${generalFilterName}"
                   th:checked="${#lists.contains(filters, generalFilterName)}"/>
            <label th:for="${generalFilterName}"
                   class="button columns medium-12 padding-top-small padding-bottom-small facet"
                   th:classappend="${#lists.contains(filters, generalFilterName)} ? 'secondary'">
                <i class="icon icon-spacer  icon-functional show-if-checked" data-icon="/"></i>
                <th:block
                        th:include="this :: facetTitle (facetLabel=${facet.label}, facetType=${facetType})"></th:block>
                <div class="lead facet-count text-right" th:text="${facet.count}"></div>
            </label>
        </div>

        <div th:each="value : ${facet.content}"
             class="facet-container"
             th:with="valueFilterName=${generalFilterName + ':' + value.label}">
            <input th:form="local-search" th:with="filterName=${facetType + ':' + facet.label}"
                   th:id="${valueFilterName}"
                   class="facet-checkbox"
                   type="checkbox" name="filter"
                   th:value="${valueFilterName}"
                   th:checked="${#lists.contains(filters, valueFilterName)}"
            />
            <label th:for="${valueFilterName}"
                   class="button columns medium-12 padding-top-small padding-bottom-small facet"
                   th:classappend="${#lists.contains(filters, valueFilterName)} ? 'secondary facet-item'">
                <i class="icon icon-spacer  icon-functional show-if-checked" data-icon="/"></i>
                <span class="facet-name text-left" th:text="${value.label}"></span>
                <span class="facet-count text-right" th:text="${value.count}"></span>
            </label>
        </div>
    </div>
</section>

<section th:fragment="facetTitle (facetLabel, facetType)">
    <th:block th:switch="${facetType}">
        <div th:case="${'inverse relation'}">
            <div class="lead facet-name text-left" th:text="${facetLabel + ' (reverse)'}"></div>
        </div>
        <div th:case="${'external reference data'}">
            <div class="lead facet-name text-left" th:text="${facetLabel + ' (external data)'}"></div>
        </div>
        <div th:case="*">
            <div class="lead facet-name text-left" th:text="${facetLabel}"></div>
        </div>
    </th:block>
</section>

</body>
</html>
