<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<div th:fragment="footer" >
	<footer>
		<!-- Optional local footer (insert citation / project-specific copyright / etc here -->
		<!--
              <div id="local-footer">
                <div class="row">
                  <span class="reference">How to reference this page: ...</span>
                </div>
              </div>
         -->
		<div id="elixir-banner" data-color="grey" data-name="BioSamples Database" data-description="BioSamples is an Elixir Deposition Database" data-more-information-link="https://www.elixir-europe.org/platforms/data/elixir-deposition-databases" data-use-basic-styles="false"></div>
		<!-- End optional local footer -->
		<div id="global-footer" class="global-footer">

			<nav id="global-nav-expanded" class="row global-nav-expanded">
				<!-- Footer will be automatically inserted by footer.js -->
			</nav>

			<section id="ebi-footer-meta" class="row ebi-footer-meta">
				<!-- Footer meta will be automatically inserted by footer.js -->
			</section>

		</div>

	</footer>


	<!-- JavaScript -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<!--
    <script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
    -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- Your custom JavaScript file scan go here... change names accordingly -->
	<!--
      <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/plugins.js"></script>
      <script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/script.js"></script>
    -->
	<script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/elixirBanner.js"></script>
	<script defer="defer" th:src="@{/js/jquery.autocomplete.min.js}" ></script>
	<script defer="defer" th:src="@{/js/facets-ajax.js}" ></script>
	<script defer="defer" th:src="@{/js/draw-graphs.js}" ></script>
	<script defer="defer" th:src="@{/js/graph-search.js}" ></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/dropzone.js}"></script>
	<script th:src="@{/js/download2.js}"></script>
	<script th:src="@{/js/toastr.min.js}"></script>
	<script th:src="@{/js/chart.min.js}"></script>
	<script th:src="@{/js/index-chart.js}"></script>

	<script th:inline="javascript">
        $(document).ready(function() {
            $('#local-searchbox').autocomplete({
                serviceUrl: '[(@{/samples/autocomplete})]',
                paramName: 'text',
                onSelect: function (suggestion) {
                    //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                    //location.href = '[(@{/samples})]?'+$.param({text:suggestion.value});
                }
            });
            let $filterApplyButton = $("#filter-apply");
            let $filterClearButton = $("#filter-clear");
            let $filtersCheckboxes = $(".facet-checkbox");
            let $originalState = [];
            let $changeState = [];

            $(".facet").each(function(index, elem) {
                $originalState[index] = $(elem).hasClass("secondary");
                $changeState[index] = $originalState[index];
            });

            $filtersCheckboxes.each(function(index,elem){
                $(elem).on("click", function(){
                    $changeState[index] = !$changeState[index];
                    if (!equals($originalState, $changeState)) {
                        $filterApplyButton.prop('disabled', false);
                    } else {
                        $filterApplyButton.prop('disabled', true);
                    }
                })
            });

            function equals(array1, array2) {
                return array1.toString() === array2.toString();
            }

        });
	</script>


	<script defer="defer" src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/script.js"></script>

	<!-- The Foundation theme JavaScript -->
	<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/libraries/foundation-6/js/foundation.js"></script>
	<script src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/foundationExtendEBI.js"></script>
	<script type="text/JavaScript">$(document).foundation();</script>
	<script type="text/JavaScript">$(document).foundationExtendEBI();</script>
</div>
</body>
</html>
