<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
	<div th:fragment="header" >
        <header id="masthead-black-bar" class="clearfix masthead-black-bar"> </header>
	</div>
	<div th:fragment="masterhead">
		<div data-sticky-container>
			<div id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="main-content-area:top" data-btm-anchor="main-content-area:bottom">
				<div class="masthead-inner row">

					<!-- local-title -->
					<div class="columns medium-7" id="local-title">
						<h1>
							<img th:src="@{/images/logo_biosamples.png}" alt="" />
							<a th:href="@{/}" title="to BioSamples homepage">BioSamples</a>
						</h1>
					</div>
					<!-- /local-title -->
					<!-- local-search -->
					<div class="columns medium-5">
						<form id="local-search" name="local-search" th:action="@{/samples}" method="get">
							<fieldset>
								<!--<input type="hidden" name="filter" th:each="filter : ${filters}" th:value="@{${filter}}">-->
								<div class="input-group margin-bottom-none">
									<input type="text" name="text" id="local-searchbox" placeholder="Search" class="input-group-field" th:value="${param.text}" />
									<div class="input-group-button"><input type="submit" class="button icon icon-functional" value="1" ></div>
								</div>
								<small class="">
									<!-- If your search is more complex than just a keyword search, you can link to an Advanced Search -->
									<!-- <span class="adv"><a href="../search" id="adv-search" title="Advanced">Advanced</a></span> | -->
									<!-- Include some example searchterms - keep them short and few. -->
									<a th:href="@{/samples?text=leukaemia}">leukaemia</a>,
									<a th:href="@{/samples?text=viridiplantae}">viridiplantae</a>,
									<a th:href="@{/samples?text=sheep+liver}">sheep liver</a>
								</small>
							</fieldset>
						</form>
					</div>
					<!-- /local-search -->

					<!-- local-nav -->
					<nav>
						<ul class="menu float-left"
							data-description="navigational">
							<li class=""><a th:href="@{/}">Home</a></li>
							<li class=""><a th:href="@{/samples}">Search</a></li>
							<!--<li class=""><a th:href="@{/uploadLogin}">Upload (Beta)</a></li>-->
							<li class=""><a th:href="@{/graph/search}">Graph Search</a></li>
							<li class=""><a th:href="@{/submit}">Submit</a></li>
							<li class=""><a th:href="@{/docs}">Documentation</a></li>
							<li class=""><a th:href="@{/about}">About</a></li>
						</ul>
					</nav>
					<!-- /local-nav -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
