<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="checked_terms_button">
        <div class="input-group" style="display: flex; align-items: center">
            <input id="accept-terms" type="checkbox" value="accept-term" />
            <label for="accept-terms">The Biosamples Submissions service requires limited processing of personal data in order to function. Please check this box to confirm that you are consenting to this, and that you have obtained the consent of any other identified individuals in your submission, as outlined in our <a href="https://www.ebi.ac.uk/data-protection/privacy-notice/biosamples-submissions">Submission Privacy Notice</a></label>
        </div>
    </div>
    <div th:fragment="spinner">
        <div id="processing-spinner" class="spinner-container">
            <div> Please wait while we are processing your file...</div>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</body>
</html>