<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
	<section th:fragment="facets (facets)">
		<div class="button-grid" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
			<div th:each="field : ${facets.getFields()}">
				<a class="button columns medium-12 margin-top-large" th:href="${urlBuilder.fromCurrentRequest().queryParam('filter', facets.fieldToAttributeType(field)).toUriString()}"> 
					<span class="lead float-left" th:text="${facets.fieldToAttributeType(field)}"></span>
					<span class="lead float-right" th:text="${facets.getFieldTotal(field)}"></span>
				</a> 
				<a class="button secondary columns medium-12" th:each="value : ${facets.getValues(field)}" th:href="${urlBuilder.fromCurrentRequest().queryParam('filter', facets.fieldToAttributeType(field)+':'+value).toUriString()}"> 
					<span class="float-left" th:text="${value}"></span> 
					<span class="float-right" th:text="${facets.getValueCount(field, value)}"></span>
				</a>
			</div>
		</div>
	</section>

	<section th:fragment="samples (page)" >
		<div th:if="${page.getTotalElements() > 0}" >
			<p th:text="'Showing '+(${start}+1)+' to '+(${start}+${page.getNumberOfElements()})+' of '+${page.getTotalElements()}+' results'">
				Showing	1 to 10 of 6268 results
			</p>
			<div class="button-grid" th:each="sample : ${page}" th:insert="fragments/samples :: result (${sample})"></div>
		</div>
		<div th:if="${page.getTotalElements() == 0}" >
			<p>No results found</p>
		</div>
	</section>

	<a class="button columns medium-12 text-left" th:fragment="result (sample)" th:href="@{'/samples/'+${sample.accession}}"> 
		<span class="lead float-left" th:text="${sample.name}">Sample</span> 
		<span class="lead float-right" th:text="${sample.accession}">ACC1</span> 
		<span class="columns medium-12 text-left"> 
			<span th:each="attribute : ${sample.attributes}" th:remove="tag"> 
				<span th:replace=":: shield (${attribute.key}, ${attribute.value})"></span>
			</span>
		</span>
	</a>

	<span th:fragment="shield (key, value)" class="shield shield--flat">
		<span class="shield__key" th:text="${key}">key</span><span class="shield__value" th:text="${value}">value</span>
	</span>
</body>
</html>