<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
    <section th:fragment="amr_table(data)">
             <!--th:with=}">-->
        <h3>
            Antibiogram data
        </h3>
        <div style="max-width: 100%; overflow-x: scroll;">
            <th:block th:with="amrEntryList=${@amrTableToMapConverter.convert(data)},
                               firstAmrEntry=${amrEntryList.get(0)}">
                <table th:with="headers=${firstAmrEntry.keySet()}">
                    <thead>
                       <tr>
                           <th th:each="head: ${headers}" th:text="${head}"></th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr th:each="amrEntry: ${amrEntryList}">
                            <td th:each="head: ${headers}" th:text="${amrEntry.get(head)}"></td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </section>
</body>
</html>