models/
messaging/
client/
properties/
utils/
*.gz
*.gzip
**/.settings/
**/.classpath
**/.project
**/bin/
**/src/
**/*.class
**/*.java
docker/mongoarchive

*.*
#!agents/*/target/*.jar
#!pipelines/*/target/*.jar
#!webapps/*/target/*.war
#!integration/target/*.jar
