models/
messaging/
client/
properties/
utils/
*.gz
**/.settings/
**/.classpath
**/.project
**/bin/
**/src/
**/*.class
**/*.java

*.*
#!agents/*/target/*.jar
#!pipelines/*/target/*.jar
#!webapps/*/target/*.war
#!integration/target/*.jar
