<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
	
<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />
	
	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
</head>

<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content">
		<div id="main-content-area" class="row">
			<div class="row">
					<h2>Accessions</h2>
					<p>This webpage provides a service for assigning accessions to
						SampleTab format submissions as used by the BioSample Database.</p>
					<p>Please provide the SampleTab file you wish to accession
						into the form below. You will then be able to download a version
						of that file that has had sample and group accessions assigned.</p>
					<div>
						<form id="sampletab_form" method="POST" enctype="multipart/form-data" action="api/v1/file/ac">
							<div class="input-group">
								<label>
									API Key:
									<input type="text" name="apikey" id="apikeyinput">
								</label>
                            </div>
                            <div class="input-group">
                                <label for="sampletab_file_picker" class="button">Upload file</label>
                                <input type="file" id="sampletab_file_picker" name="file" class="show-for-sr">
                            </div>
                            <th:block th:include="fragments/components :: spinner"></th:block>
                        </form>
            		</div>
				<div class="row">
					<div id="errorsdiv"></div>
					<div id="sampletabdiv"></div>
				</div>
				<div class="row">
					<p>If you have any questions about this service, please contact
						<a href="mailto:biosamples@ebi.ac.uk?Subject=SampleTab+Web+Validator">biosamples@ebi.ac.uk</a>
						and attach the SampleTab file you were trying to accession.</p>
					<p>If you need an API key please contact
						<a href="mailto:biosamples@ebi.ac.uk?Subject=SampleTab+Web+Validator:+API+key+required">
							biosamples@ebi.ac.uk</a>
					</p>
				</div>
			</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>	
</body>
</html>
