<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
	
<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />
	
	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
</head>

<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content">
		<div id="main-content-area" class="row">
			<div class="row">
				<h2>Validation &amp; Correction</h2>
				<p>This webpage provides a service for validating SampleTab format files as used by the BioSample Database.</p>
				<p>Please provide the SampleTab file you wish to validate into the form below. You will then be able to download a version
					of that file that has been corrected.
				</p>
				<form id="sampletab_form" method="POST" enctype="multipart/form-data">
					<div class="input-group">
						<label for="pickfilevalidation" class="button">Upload SampleTab file</label>
						<input type="file" id="pickfilevalidation" name="file" class="show-for-sr">
					</div>
				</form>
                <div class="row">
					<div id="errorsdiv">

					</div>
					<div id="sampletabdiv">

					</div>
				</div>
				<div class="row">
					<p>If you have any questions about this service, please contact <a
							href="mailto:biosamples@ebi.ac.uk?Subject=SampleTab+Web+Validator">
						biosamples@ebi.ac.uk</a> and attach the SampleTab file you were
						trying to validate.</p>
				</div>
			</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>	
</body>
</html>
