<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<meta name="keywords" content="biosamples, europe, EBI" />
	<meta name="description" content="EMBL-EBI" />
	<meta name="ebi:last-review" content="2016-12-20" />
	<meta name="ebi:expiry" content="2017-12-20" />
</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div layout:fragment="content" id="content">
	<th:block th:include="fragments/header :: masterhead"></th:block>

	<div id="main-content-area" class="row padding-top-xlarge padding-left-xlarge padding-right-xlarge columns">
		<h2>About BioSamples</h2>

		<h3 class="icon icon-spacer icon-generic" data-icon="}">The team</h3>
		<p>The BioSamples team is part of the <a href="/people/person/tony-burdett/">Tony Burdett's team</a> at EMBL-EBI.
			The team consists of bioinformaticians, ontologists, software engineers, and web developers.</p>

		<h3 class="icon icon-spacer icon-generic" data-icon="E">Contact us</h3>
		<p>If you want to contact us, please email
			<a href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a>.
			We welcome enquiries on data submission and access, as well as technical issues like integration with other databases and linked open data.
			We aim to respond within 1 working day.</p>

		<h3 class="icon icon-spacer icon-generic" data-icon="m">Announcements</h3>
		<p>If you use the BioSamples Database regularly, or maintain software that interacts with it, you may want to
			stay updated by <a href="//listserver.ebi.ac.uk/mailman/listinfo/biosamples-announce">subscribing to our announcement mailing list</a>.</p>

		<h3 class="icon icon-spacer icon-generic" data-icon="P">Privacy Notices and Terms of Use</h3>
		<p>This website requires cookies and limited processing of your personal data to function.</p>
		<p>By using this site, you agree to the policies outlined in our
			<a th:href="@{/privacy/privacy_notice.pdf}" target="_blank" rel="noopener noreferrer">Privacy Notice and Terms of Use (PDF)</a>.</p>
		<p>If you submit information to BioSamples, we will handle your submission in accordance with our
			<a th:href="@{/privacy/privacy_notice.pdf}" target="_blank" rel="noopener noreferrer">Submission Privacy Notice (PDF)</a>.</p>

		<h3 class="icon icon-spacer icon-generic" data-icon="U">Publications / How to Cite</h3>
		<ul>
			<li><strong>Citing BioSamples database:</strong> Please use the following publication:
				Courtot M, Gupta D, Liyanage I, Xu F, Burdett T.
				<a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkab1046/6423179?rss=1">BioSamples database: FAIRer samples metadata to accelerate research data management</a>.
				Nucleic Acids Research. 2021 Nov 8.
				<a href="https://doi.org/10.1093/nar/gkab1046">https://doi.org/10.1093/nar/gkab1046</a></li>

			<li><strong>Citing BioSamples records in your manuscript:</strong> Please include your sample and group accession numbers and the URL to the BioSamples homepage
				(e.g., "Sample metadata are available in the BioSamples database (http://www.ebi.ac.uk/biosamples) under accession numbers SAMxxxxxx, SAMxxxxxx, SAMxxxxxx, and SAMxxxxxx.").</li>

			<li><strong>Previous publications:</strong>
				Melanie Courtot et al.
				<a href="https://europepmc.org/abstract/MED/30407529">BioSamples database: an updated sample metadata hub</a>,
				Nucleic Acids Research, 2019,
				<a href="https://doi.org/10.1093/nar/gky1061">https://doi.org/10.1093/nar/gky1061</a>.</li>
		</ul>

		<h3 class="icon icon-spacer icon-generic" data-icon="I">Acknowledgements</h3>
		<p>BioSamples has been made possible with the support of our funders:</p>
		<ul>
			<li>European Molecular Biology Laboratory - European Bioinformatics Institute core funds</li>
			<li>European Commission ELIXIR-EXCELERATE</li>
			<li>Wellcome Trust (WT) and Medical Research Council (MRC) - Human Induced Pluripotent Stem Cells Initiative (HipSci)</li>
			<li>Innovative Medicines Initiative (IMI) - European Bank for induced pluripotent Stem Cells (EBiSC)</li>
			<li>ELIXIR Meta Data Implementation Study</li>
			<li>Wellcome Trust (WT) - Global Alliance for Genomics and Health (GA4GH)</li>
		</ul>

		<p>The BioSamples team would also like to thank:</p>
		<ul>
			<li><a href="http://www.atlassian.com" target="_blank" rel="noopener noreferrer">Atlassian</a> for
				<a href="http://www.atlassian.com/software/bamboo/overview" target="_blank" rel="noopener noreferrer">Bamboo</a> - Continuous Integration and Release Management tool.</li>

			<li><a href="http://www.browserstack.com" target="_blank" rel="noopener noreferrer">BrowserStack</a> for providing the infrastructure for cross-browser testing.
				<a href="http://www.browserstack.com" target="_blank" rel="noopener noreferrer">
					<img src="https://www.browserstack.com/images/mail/browserstack-logo-footer.png" width="120" alt="BrowserStack Logo"></a></li>
		</ul>
	</div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
