<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />

	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
	<script th:if="${jsonLD != null}" type="application/ld+json" th:utext="${jsonLD}"> </script>
</head>

<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content" id="content" >
		<th:block th:include="fragments/header :: masterhead"></th:block>
		<div id="main-content-area" class="row padding-top-xlarge padding-left-xlarge padding-right-xlarge">
			<div class="row">
				<!--<div class="warning-msg">-->
					<!--Please note that BioSamples team will be out of the office from 24th December to 2nd January. Replies to Helpdesk requests will be delayed during this period.-->
				<!--</div>-->
				<p class="intro justify">
					BioSamples stores and supplies descriptions and metadata about
					biological samples used in research and development by academia and
					industry. Samples are either 'reference' samples (e.g. from <a
						href="http://www.internationalgenome.org">1000 Genomes</a>, <a
						href="http://www.hipsci.org">HipSci</a>, <a
						href="http://www.faang.org">FAANG</a>) or have been used in an
					assay database such as the <a href="http://www.ebi.ac.uk/ena">European
						Nucleotide Archive (ENA)</a> or <a
						href="http://www.ebi.ac.uk/arrayexpress">ArrayExpress</a>.
				</p>
			</div>

			<div class="row">
				<div class="medium-12 large-5 columns">
					<h3 class="icon icon-generic icon-spacer" data-icon="L">Info</h3>
					<ul>
						<li><a href="docs">Help pages</a> about how to
							search BioSamples, how to submit data, and FAQ.</li>
						<li><a href="docs/references/api">Programmatic access</a> to query
							and download data using web services.</li>
						<li>Contact us by emailing <a
							href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a></li>
					</ul>
				</div>
				<div class="medium-12 large-7 columns">
					<h3 class="icon icon-generic icon-spacer" data-icon="g">Data Content</h3>
                    <div class="data-content">
						<div class="small-12 medium-4 data-content__entry">
							<div class="data-logo">
								<img src="images/logo_ebisc.png" alt="EBiSC logo" title="EBiSC" />
							</div>
							<div class="data-link">
								<a class="icon icon-spacer  icon-generic" data-icon="L" href="//www.ebisc.org" target="_blank">www.ebisc.org</a>
							</div>
							<div class="data-search-link">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AEBiSC'" href="samples?filter=attr%3Aproject%3AEBiSC">search for EBiSC samples</a>
							</div>
							<div class="data-description padding-top-small">
								EBiSC has been designed to
								address the increasing demand for quality-controlled,
								disease-relevant, research-grade iPSC lines, data and cell
								services.
							</div>
						</div>
						<div class="small-12 medium-4 data-content__entry">
							<div class="data-logo">
								<img src="images/logo_faang.png" alt="FAANG logo" title="FAANG" />
							</div>
							<div class="data-link">
								<a class="icon icon-spacer  icon-generic" data-icon="L" href="//www.faang.org" target="_blank">www.faang.org</a>
							</div>
							<div class="data-search-link">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AFAANG'" href="samples?filter=attr%3Aproject%3AFAANG">search for FAANG samples</a>
							</div>
							<div class="data-description padding-top-small">
								Functional Annotation of Animal
								Genomes. A coordinated international action to accelerate genome
								to phenome research..
							</div>
						</div>
						<div class="small-12 medium-4 data-content__entry">
							<div class="data-logo">
								<img src="images/logo_hipsci.png" alt="HipSci logo" title="HipSci" />
							</div>
							<div class="data-link">
								<a class="icon icon-spacer  icon-generic" data-icon="L" href="//www.hipsci.org" target="_blank">www.hipsci.org</a>
							</div>
							<div class="data-search-link">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AHipSci'" href="samples?filter=attr%3Aproject%3AHipSci">search for HipSci samples</a>
							</div>
							<div class="data-description padding-top-small">
								HipSci brings together diverse
								constituents in genomics, proteomics, cell biology and clinical
								genetics to create a UK national iPS cell resource and use it to
								carry out cellular genetic studies.
							</div>
						</div>

					</div>
					<!--<div class="row" style="display: flex; align-items: center;">-->
						<!--<div class="small-4 columns">-->
							<!--<img src="images/logo_ebisc.png" alt="EBiSC logo"-->
								<!--title="EBiSC" />-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<img src="images/logo_faang.png" alt="FAANG logo"-->
								<!--title="FAANG" />-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<img src="images/logo_hipsci.png" alt="HipSci logo"-->
								<!--title="HipSci" />-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="row">-->
						<!--<div class="small-4 columns">-->
							<!--<a class="icon icon-spacer  icon-generic" data-icon="L" href="//www.ebisc.org" target="_blank">www.ebisc.org</a>-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<a class="icon icon-spacer  icon-generic" data-icon="L" href="http://www.faang.org" target="_blank">www.faang.org</a>-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<a class="icon icon-spacer  icon-generic" data-icon="L" href="http://www.hipsci.org" target="_blank">www.hipsci.org</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="row">-->
						<!--<div class="small-4 columns">-->
							<!--<a th:href="@{/samples}+'?filter=attr%3Aproject%3AEBiSC'" href="samples?filter=attr%3Aproject%3AEBiSC">search for EBiSC samples</a>-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<a th:href="@{/samples}+'?filter=attr%3Aproject%3AFAANG'" href="samples?filter=attr%3Aproject%3AFAANG">search for FAANG samples</a>-->
						<!--</div>-->
						<!--<div class="small-4 columns">-->
							<!--<a th:href="@{/samples}+'?filter=attr%3Aproject%3AHipSci'" href="samples?filter=attr%3Aproject%3AHipSci">search for HipSci samples</a>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="row">-->
						<!--<div class="small-4 columns">EBiSC has been designed to-->
							<!--address the increasing demand for quality-controlled,-->
							<!--disease-relevant, research-grade iPSC lines, data and cell-->
							<!--services.</div>-->
						<!--<div class="small-4 columns">Functional Annotation of Animal-->
							<!--Genomes. A coordinated international action to accelerate genome-->
							<!--to phenome research.</div>-->
						<!--<div class="small-4 columns">HipSci brings together diverse-->
							<!--constituents in genomics, proteomics, cell biology and clinical-->
							<!--genetics to create a UK national iPS cell resource and use it to-->
							<!--carry out cellular genetic studies.</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
