<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />

	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
	<script th:if="${jsonLD != null}" type="application/ld+json" th:utext="${jsonLD}"> </script>
</head>

<body th:onload="|drawCharts()|">
<!--<body>-->
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content" id="content" >
		<th:block th:include="fragments/header :: masterhead"></th:block>
		<div id="main-content-area" class="row padding-top-xlarge padding-left-xlarge padding-right-xlarge">
			<div class="row">
<!--				<div class="warning-msg">-->
<!--					Please note that the BioSamples team will be out of the office from December 21st 2020 to January 3rd 2021. Replies to Helpdesk requests will be delayed during this period.-->
<!--					&lt;!&ndash;<b>Planned Maintenance</b>-->
<!--					<p>Some of our services are currently undergoing planned maintenance which is due to complete on 30th April 2020.-->
<!--						There should be no impact on our users.-->
<!--						If you experience any issues, please contact our <a href="mailto:biosamples@ebi.ac.uk?subject=Planned%20Maintenance">help desk</a> directly for support.-->
<!--					</p>&ndash;&gt;-->
<!--				</div>-->
				<p class="intro justify">
					BioSamples stores and supplies descriptions and metadata about
					biological samples used in research and development by academia and
					industry. Samples are either 'reference' samples (e.g. from <a
						href="http://www.internationalgenome.org">1000 Genomes</a>, <a
						href="http://www.hipsci.org">HipSci</a>, <a
						href="http://www.faang.org">FAANG</a>) or have been used in an
					assay database such as the <a href="http://www.ebi.ac.uk/ena">European
						Nucleotide Archive (ENA)</a> or <a
						href="http://www.ebi.ac.uk/arrayexpress">ArrayExpress</a>.
				</p>
			</div>

			<div class="row">
<!--				<div class="col-lg-6"><canvas id="myChart" width="400" height="300"></canvas></div>-->
<!--				<div class="col-lg-6"><canvas id="myChart2" width="400" height="300"></canvas></div>-->
			</div>

			<div class="row">
				<div id="sample-curation-graph" class="medium-12 large-6 columns">
					<canvas id="myChart" width="400" height="300"></canvas>
				</div>
				<div id="sample-type-chart" class="medium-12 large-6 columns">
					<canvas id="myChart2" width="400" height="300"></canvas>
				</div>
			</div>

			<div class="row">
				<h3 class="icon icon-generic icon-spacer" data-icon="L">Info</h3>
				<ul>
					<li><a href="docs">Help pages</a> about how to
						search BioSamples, how to submit data, and FAQ.</li>
					<li><a href="docs/references/api">Programmatic access</a> to query
						and download data using web services.</li>
					<li>Contact us by emailing <a
						href="mailto:biosamples@ebi.ac.uk">biosamples@ebi.ac.uk</a></li>
				</ul>
			</div>
			<div class="row">
				<h3 class="icon icon-generic icon-spacer" data-icon="g">Data Content</h3>
				<div class="data-content">

					<div class="small-12 medium-3 large-3 data-content__entry">
						<div class="home-example-card">
							<div class="home-example-card-content">
								<div class="data-logo">
									<a th:href="@{/samples}+'?text=NCBITaxon_2697049'">
										<img src="images/covid.png" alt="covid image" title="COVID-19" class="data-content-img"/>
									</a>
								</div>
								<div class="data-description padding-top-small">
									Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory
									syndrome
									coronavirus 2 (SARS-CoV-2).
								</div>
							</div>
							<div class="data-content-search">
								<a th:href="@{/samples}+'?text=NCBITaxon_2697049'">search for covid-19 samples</a>
							</div>
						</div>
					</div>

					<div class="small-12 medium-3 large-3 data-content__entry">
						<div class="home-example-card">
							<div class="home-example-card-content">
								<div class="data-logo">
									<a href="//www.ebisc.org">
										<img src="images/logo_ebisc.png" alt="EBiSC logo" title="EBiSC" class="data-content-img"/>
									</a>
								</div>
								<div class="data-description padding-top-small">
									EBiSC has been designed to
									address the increasing demand for quality-controlled,
									disease-relevant, research-grade iPSC lines, data and cell
									services.
								</div>
							</div>
							<div class="data-content-search">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AEBiSC'" href="samples?filter=attr%3Aproject%3AEBiSC">search
									for EBiSC samples</a>
							</div>
						</div>
					</div>

					<div class="small-12 medium-3 large-3 data-content__entry">
						<div class="home-example-card">
							<div class="home-example-card-content">
								<div class="data-logo">
									<a href="//www.faang.org">
										<img src="images/logo_faang.png" alt="FAANG logo" title="FAANG" class="data-content-img"/>
									</a>
								</div>
								<div class="data-description padding-top-small">
									Functional Annotation of Animal
									Genomes. A coordinated international action to accelerate genome
									to phenome research..
								</div>
							</div>
							<div class="data-content-search">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AFAANG'" href="samples?filter=attr%3Aproject%3AFAANG">search
									for FAANG samples</a>
							</div>
						</div>
					</div>

					<div class="small-12 medium-3 large-3 data-content__entry">
						<div class="home-example-card">
							<div class="home-example-card-content">
								<div class="data-logo">
									<a href="//www.hipsci.org">
										<img src="images/logo_hipsci.png" alt="HipSci logo" title="HipSci" class="data-content-img"/>
									</a>
								</div>
								<div class="data-description padding-top-small">
									HipSci brings together diverse
									constituents in genomics, proteomics, cell biology and clinical
									genetics to create a UK national iPS cell resource and use it to
									carry out cellular genetic studies.
								</div>
							</div>
							<div class="data-content-search">
								<a th:href="@{/samples}+'?filter=attr%3Aproject%3AHipSci'"
									 href="samples?filter=attr%3Aproject%3AHipSci">search for HipSci samples</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
