<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">
	
<head th:replace="fragments/head :: head">
	<title th:text="${sample.accession}+' &lt; BioSamples &lt; EMBL-EBI'">BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />
	
	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
	<script th:if="${jsonLD != null}" type="application/ld+json" th:utext="${jsonLD}"> </script>
</head>

<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content">
		<div id="main-content-area" class="row">
			<div class="columns medium-10">
				<h2 th:text="${sample.accession}">TEST</h2>
				<h3 th:text="${sample.name}">name</h3>
				<table>
					<tr>
						<th>Released on</th>
						<td	th:text="${#temporals.format(release, 'yyyy / MM / dd HH:mm:ss','UTC')+' UTC'}">2001 / 02 / 02 12:00:00</td>
					</tr>
					<tr>
						<th>Updated on</th>
						<td	th:text="${#temporals.format(update, 'yyyy / MM / dd HH:mm:ss','UTC')+' UTC'}">2001 / 02 / 02 12:00:00</td>
					</tr>
				</table>
			</div>
			<div class="columns medium-2">
				<th:block th:include="fragments/sample :: serialisationDropDownMenu"></th:block>
			</div>

			<div class="columns medium-12">
				<th:block th:include="fragments/sample :: contacts (${sample.contacts})"></th:block>
				<th:block th:include="fragments/sample :: organizations (${sample.organizations})"></th:block>
				<th:block th:include="fragments/sample :: publications (${sample.publications})"></th:block>

				<th:block th:include="fragments/sample :: attributes (${sample.attributes})"></th:block>
				<th:block th:include="fragments/sample :: relationships (${sample.relationships})"></th:block>
				<th:block th:include="fragments/sample :: externalReferences (${sample.externalReferences})"></th:block>
			</div>

		</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>