<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
	<meta name="keywords" content="biosamples, europe, EBI" />
	<!-- Describe what this page is about -->
	<meta name="description" content="EMBL-EBI" />

	<meta name="ebi:last-review" content="2016-12-20" />
	<!-- The last time the content was reviewed -->
	<meta name="ebi:expiry" content="2017-12-20" />
	<!-- When this content is no longer relevant -->
</head>

<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div layout:fragment="content" id="content" >
		<th:block th:include="fragments/header :: masterhead"></th:block>
		<div id="main-content-area" class="row padding-top-xlarge padding-left-xlarge padding-right-xlarge">
			<div class="row">
				<h2>Services</h2>
				<p>There are several services provided for programatically sending sample information to the <a href="/biosamples"></a>BioSamples Database</a>. These are: </p>
                <div class="row biosamples-button-row">
					<a th:href="@{/docs}+'/references/api/submit#_submit_a_sample'">
						<div class="large-4 columns">
							<div class="card biosamples-card">
								<h3>Submission Service</h3>
								<div class="card-section">
									<p>Submit through JSON API</p>
								</div>
							</div>
						</div>
					</a>
					<a th:href="@{/docs}+'/references/api/submit#_accession_a_sample'">
						<div class="large-4 columns">
							<div class="card biosamples-card">
								<h3>Accessioning Service</h3>
								<div class="card-section">
									<p>Accession through JSON API</p>
								</div>
							</div>
						</div>
					</a>
					<a th:href="@{/docs}+'/references/api/submit#_validate_sample_fields'">
						<div class="large-4 columns">
							<div class="card biosamples-card">
								<h3>Validation Service</h3>
								<div class="card-section">
									<p>Validate through JSON API</p>
								</div>
							</div>
						</div>
					</a>
				</div>

				<p>Please note that assigned accession will be immediately return, though they will not be immediately
					visibly in the web interface.</p>

                <p>If you have any questions about these services or would like more information, please contact us at
                <a href="mailto:biosamples@ebi.ac.uk?Subject=SampleTab+Web+Services">biosamples@ebi.ac.uk</a>.</p>

                <p>This website requires cookies, and the limited processing of your personal data in order to
                function. By using the site you are agreeing to this as outlined in our
                <a href="https://www.ebi.ac.uk/data-protection/privacy-notice/biosamples-submissions">Submission Privacy Notice</a>
                and <a href="https://www.ebi.ac.uk/about/terms-of-use">Terms of Use.</a></p>

				</div>
		</div>
	</div>
	<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>
