<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">
	<title>BioSamples &lt; EMBL-EBI</title>
	<meta name="keywords" content="biosamples, europe, EBI" />
	<meta name="description" content="EMBL-EBI" />
	<meta name="ebi:last-review" content="2016-12-20" />
	<meta name="ebi:expiry" content="2017-12-20" />
</head>

<body>
<th:block th:include="fragments/header :: header"></th:block>

<div layout:fragment="content" id="content">
	<th:block th:include="fragments/header :: masterhead"></th:block>

	<div id="main-content-area" class="row padding-top-xlarge padding-left-xlarge padding-right-xlarge">
		<div class="row">
			<h2>Submit Samples</h2>
			<p>
				Several services are available for submitting samples interactively and programmatically to the
				<a href="/biosamples">BioSamples Database</a>.
			</p>

			<div class="row biosamples-button-row">
				<a th:href="@{/uploadLogin}">
					<div class="large-3 columns">
						<div class="card biosamples-card">
							<h3>File Upload Service</h3>
							<div class="card-section">
								<p>Submit Samples using file upload service</p>
							</div>
						</div>
					</div>
				</a>

				<a th:href="@{/docs}+'/references/api/submit#_submit_a_sample'">
					<div class="large-3 columns">
						<div class="card biosamples-card">
							<h3>Submission Service</h3>
							<div class="card-section">
								<p>Guide: Submit Samples using the JSON API</p>
							</div>
						</div>
					</div>
				</a>

				<a th:href="@{/docs}+'/references/api/submit#_accession_a_sample'">
					<div class="large-3 columns">
						<div class="card biosamples-card">
							<h3>Accessioning Service</h3>
							<div class="card-section">
								<p>Guide: Accession using the JSON API</p>
							</div>
						</div>
					</div>
				</a>

				<a th:href="@{/docs}+'/references/api/submit#_validate_sample_fields'">
					<div class="large-3 columns">
						<div class="card biosamples-card">
							<h3>Sample Validation Service</h3>
							<div class="card-section">
								<p>Guide: Validate Samples using the JSON API</p>
							</div>
						</div>
					</div>
				</a>
			</div>

			<p>
				Please note that the assigned sample accession will be immediately returned,
				though it might not be immediately available in filtered searches done using
				the web interface.
			</p>

			<p>
				If you have any questions about these services or would like more information,
				please contact us at
				<a href="mailto:biosamples@ebi.ac.uk?Subject=SampleTab+Web+Services">biosamples@ebi.ac.uk</a>.
			</p>

			<p>
				This website requires cookies and the limited processing of your personal data in order to
				function. By using the site, you are agreeing to this as outlined in our
				<a href="/privacy/privacy_notice.pdf" target="_blank">Privacy Notice</a> and
				<a href="https://www.ebi.ac.uk/about/terms-of-use">Terms of Use</a>.
			</p>
		</div>
	</div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>
</body>

</html>
