<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" lang="">

<head th:replace="fragments/head :: head">
    <title th:text="&lt; BioSamples &lt; EMBL-EBI'">BioSamples &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project) -->
    <meta name="keywords" content="biosamples, europe, EBI"/>
    <!-- Describe what this page is about -->
    <meta name="description" content="EMBL-EBI"/>

    <meta name="ebi:last-review" content="2016-12-20"/>
    <!-- The last time the content was reviewed -->
    <meta name="ebi:expiry" content="2017-12-20"/>
    <!-- When this content is no longer relevant -->
</head>

<body>
<th:block th:include="fragments/header :: header"></th:block>
<div layout:fragment="content" id="content">
    <th:block th:include="fragments/header :: masterhead"></th:block>

    <div id="main-content-area" class="row padding-top-xlarge padding-right-xlarge padding-left-xlarge sample">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mt-5">
                    <select class="form-control" id="aapDomain" name="aapDomain">
                        <option th:value="0"><b>Select AAP domain</b></option>
                        <option th:each="domain : ${domains}" th:value="${domain}" th:text="${domain}"></option>
                    </select>
                    <select class="form-control" id="certificate" name="certificate">
                        <option th:value="0"><b>Select checklist for validation</b></option>
                        <option th:each="certificate : ${certificates}" th:value="${certificate}"
                                th:text="${certificate}"></option>
                    </select>
                    <br/>
                    <div id="dropzone">
                        <form action="/biosamples/upload" class="dropzone needsclick" id="upload">
                            <input type="hidden" id="hiddenAapDomain" name="hiddenAapDomain">
                            <input type="hidden" id="hiddenCertificate" name="hiddenCertificate">
                            <div class="dz-message needsclick">
                                <button type="button" class="dz-button">Drop files here or click to upload. <br/>
                                    You can upload .xls files containing your samples. <br/></button>
                                <br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="fragments/footer :: footer"></th:block>

<script>
    Dropzone.autoDiscover = false;
    $("#upload").dropzone({
        success: function (file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');

            if (this.files.length > 1) {
                this.removeFile(this.files[0]);
            }
        }
    });

    $("#aapDomain").change(function (e) {
        $("#hiddenAapDomain").val(e.target.value);
    });

    $("#certificate").change(function (e) {
        $("#hiddenCertificate").val(e.target.value);
    });
</script>
</body>
</html>
