.shield {
  color: white;
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 2px;
  font-size: 0.9em;
}

.shield span {
  padding: 0.2rem 0.5rem;
}

.shield .shield__key {
  background-color: #444;
}
.shield .shield__value {
  background-color: #f27e3f;
}
.shield .shield__close {
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1px;
}