.shield {
  color: white;
  display: inline-block;
  margin: 0.2rem 0.0em;
  font-size: 0.9em;
}

/* This means a span element within an element with class shield */
.shield span {
  padding: 0.1rem 0.2rem;
}

.shield .shield__key {
  background-color: #444;
  margin: 0 0 0 2px;
}
.shield .shield__value {
  background-color: #f27e3f;
  margin: 0 2px 0 0;
  word-break: break-all;
}