.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* CARDS */
.card {
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card a {
    color: #007c82;
}

/* FACETS */
.facet-checkbox {
    display: none;
}

label.facet { display: flex; align-items: baseline; }

div div.facet-container:first-child label.facet{
    font-weight: bold;
    margin-top: .5rem
}

div div.facet-container label.facet { margin-top: 1px; }

label.facet > .show-if-checked { margin-right: 5px; }

.facet-container label.facet > *:nth-last-child(1) { flex-grow: 1; }

.facet-container .facet-checkbox:not(:checked) ~ .facet > .show-if-checked { visibility:hidden }

.facet-container [type='checkbox'] + label, [type='radio'] + label { margin: 0; }

#filter-apply {
    margin-bottom: 0.5rem;
}

#filter-clear {
    margin-bottom: 0.5rem;
}

#filter-apply:disabled { background-color: #007c82 !important}

#filter-clear:disabled { background-color: #007c82 !important }

/*
#local-masthead.is-stuck .menu>li.sticky-search { display: inherit; }
#local-masthead .menu>li.sticky-search { display:none; }
*/

/* GENERAL */
#main-content-area { margin-bottom: 3rem; }
div#elixir-banner-info { color: white; }

/* MENUs */
.menu > li.is-accordion-submenu-parent > a {
    position: relative;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #007c82 transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1rem;
}

.accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/* SHIELDS - FILTER BADGES */
.shield { color: white; display: inline-block; margin: 0.2rem 0.0em; font-size: 0.8em; border: 1px solid #ccc; border-radius: 3px; }
/* This means a span element within an element with class shield */
.shield span { padding: 0.2rem 0.4rem; }
.shield .shield__key { color: #444; margin: 0 0 0 2px; word-break: break-all; }
.shield .shield__value { color: #f27e3f; margin: 0 2px 0 0; word-break: break-all; }

/* DOCS */
pre.nowrap {
    white-space: pre-wrap;
    background-color: #e6e6e6;
    overflow: auto;
}

code[class^="language"] {
    border: none;
    background: none;
}

.data-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-content__entry {
   padding-right: 1em;
   padding-left: 1em;
   flex: 0 1 100%;
   text-align: justify;
   text-justify: inter-character;
}

.home-example-card {
    border: 1px solid #8f8f8f;
    padding: 8px;
    text-overflow: ellipsis;
    /*position: relative;*/
}

.home-example-card:hover {
    border: 1px solid black;
}

.home-example-card-content {
    height: 300px;
}

.data-content-search {
    text-align: center;
    background: #006b70;
    color: #ffffff;
    margin: 5px 15px;
}

.data-content-search a,
.data-content-search a:link,
.data-content-search a:hover,
.data-content-search a:active,
.data-content-search a:visited {
    text-decoration: none;
    background: #006b70;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border: 1px solid #006b70;
}


.data-content-img {
    margin: auto;
    display: block;
}

@media screen and (min-width: 512px) {
    .data-content__entry {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 640px) {
    .data-content__entry {
        flex-basis: 25%;
    }
}


.search-results {
    display: flex;
    flex-wrap: wrap-reverse;
}

.sr__facets, .sr__results {
    flex:1;
    flex-basis: calc(100% - 1em);
    margin-right: 1em;
}


@media screen and (min-width: 800px) {
    .search-results {
        justify-content: space-between;
    }
    .sr__facets {
        flex-basis: calc(33% - 1em);
    }

    .sr__results {
        flex-basis: calc(66% - 1em);
    }
}

.s__serialization menu {
    display: flex;
}

.s__serialization menu li {
    margin-right: 1em;
}

.s__serialization, .s__header, .s__details  {
    padding-bottom: 1em;
}

.menu.nested {
    display: none;
}

.text-left {
    word-break: break-all;
}

.biosamples-button-row { margin-bottom: 1em; }

.biosamples-button-row div {
    margin-bottom: 1em;
}

.biosamples-card { text-align: center; border: 1px solid #007c82 /*EBI Color*/ ; min-height: 150px; padding: 1em; }

.biosamples-card:hover { background-color: #007c82; }

.biosamples-card:hover * { color: white; }

.warning-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #9F6000;
    background-color: #FEEFB3;
    border: 1px solid #e7ca2b;
}

.info-msg {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc3c3;
    border-radius: 3px 3px 3px 3px;
    color: #7d7d7b;
    background-color: #efefef;
}

.sh__datetimes {
    text-align: left;
}

.collapsible-div {
    cursor: pointer;
}

.collapsible-div::after {
    content: "\002B";
    margin-left: 10px;
    font-size: 25px;
    color: #027c82;
    font-weight: bold;
}

.collapsible-div-active {
    cursor: pointer;
}

.collapsible-div-active::after {
    content: "\2212";
    margin-left: 10px;
    font-size: 25px;
    color: #027c82;
    font-weight: bold;
}

.content-div {
    display: none;
    overflow: hidden;
    text-align: left;
}

.external-reference-td {
    width: 70px;
}

.external-reference-img {
    width: 30px;
    height: 30px;
}

.duo-badge, .duo-badge a, .duo-badge a.visited {
    color: #4c4c4c;
    margin: 0 3px;
    padding: 0 2px;
    float: left;
    text-decoration: none;
    border: 1px solid #007b82;
}

.serialisation-menu {
    font-size: 80%;
    list-style-type: none;
}

.serialisation-menu > li > a {
    padding: 0.5rem !important;
}

.content-search-header {
    float: left;
    margin-right: 1rem;
}

.content-search-header-results {
    float: left;
    margin-top: 1.5rem;
}

.content-search-download {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

.content-search-download-select {
    width: 120px;
    height: 30px;
    float: left;
    margin-left: 5px;
}

.content-search-download-button {
    padding: 0.5em 0.5em;
    margin-left: 5px;
}

.biosamples-pagination {
    margin-top: 0.8rem;
}

#facets-ajax-loading-img {
    display: block;
    margin: 10rem auto auto;
}

#graph-search-pagination-wrapper {
    width: 100%;
    float: left;
}

#graph-search-pagination-text {
    width: 40%;
    float: left;
    margin-left: 10px;
}

#graph-search-pagination {
    width: 360px;
    /*margin: 0 auto;*/
    float: right;
}

.graph-search-page-control {
    width: 100px;
    float: left;
    margin: 0 10px 20px 10px;
}

#graph-search-current-page {
    text-align: center;
}

#graph-search-results {
    margin-right: 0;
}

.graph-search-input-container {
    float: left;
    margin: 10px 15px;
}

.graph-search-sample-container {
    /*margin-right: 1em;*/
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    float: left;
}

.graph-search-rel-container {
    float: left;
    padding: 1em;
    margin-top: 18px;
    background-image: url(../images/relationship_arrow.png);
    background-repeat: no-repeat;
    background-size: 200px 30px;
    background-position: bottom;
    /*margin-right: 1em;*/
}

.graph-search-input {
    float: left;
}

.graph-search-input-btn-container {
    float: right;
}

.graph-search-btn {
    float: right;
}

.graph-search-facet {
    background-color: #f0f0f2;
    margin-bottom: 5px;
}

.example-query {
    margin: 3px 0;
    padding: 10px;
    border: 1px solid #ccc3c3;
    border-radius: 3px 3px 3px 3px;
    color: #7d7d7b;
    background-color: #efefef;
}

.example-query:hover {
    cursor: pointer;
    color: #10100f;
    border: 1px solid #424242;
    background-color: #ccc;
}

.example-query-container {
    margin: 10px 0;
    border: 1px solid #ccc3c3;
    border-radius: 3px 3px 3px 3px;
}

/* Style the button that is used to open and close the collapsible content */
.graph-example-collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 14px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.graph-example-active, .graph-example-collapsible:hover {
    background-color: #ccc;
    color: #444;
}

.graph-example-collapsible::after {
    float: right;
    content: "\002B";
}

.graph-example-active::after {
    float: right;
    content: "\2212";
}

.graph-example-content {
    padding: 3px 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.graph-search-record {
    float: left;
    margin-bottom: 10px;
}

.graph-search-record-sample {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-search-record-sample-span {
    width: 100%;
    float: left;
    text-align: center
}

.graph-search-record-link-type {
    text-align: center;
    margin-top: 18px;
    background-image: url("../images/relationship_arrow.png");
    background-repeat: no-repeat;
    background-size: 300px 30px;
    background-position: center;
}

.sample-attribute-table-column {
    width: 33%;
    vertical-align: top;
}

.duo-tooltip .duo-tooltip-text {
    visibility: hidden;
    width: 320px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 90%;
    position: absolute;
    z-index: 1;
}

.duo-tooltip:hover .duo-tooltip-text  {
    visibility: visible;
}

.duo-tooltip-text-title {
    color: #ffa200;
    font-weight: bold;
}

.duo-tooltip-text-body {
    color: #ffffff;
}

.upload-container {
    margin-bottom: 20px;
}

.upload-tabs-navbar {
    background-color: #efefef;
    margin-bottom: 20px;
    overflow: auto;
}

.upload-tabs-btn {
    float: left;
    font-size: 18px;
    padding: 10px;
    background-color: #efefef;
}

.upload-tabs-btn:hover {
    background-color: #7d7d7b;
    cursor: pointer;
}

.submission-search-box {
    float: left;
    width: 70%;
}

.submission-search-btn {
    float: right;
    width: 25%;
}

.submission-download-btn {
    float: left;
    padding: 8px;
    margin: 0;
}

#submission-table {
    margin-top: 10px;
}

#submission-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#submission-table td, #submission-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#submission-table tr:nth-child(even) {
    background-color: #dddddd;
}

.upload-submit-btn {
    float: right;
}

.logout-btn {
    background-color: #adacac;
    float: right;
    margin: 3px;
}

.logout-btn:hover {
    background-color: #4e4e4e;
}

.login-wrapper {
    overflow: auto;
    margin: 0 auto;
    padding: 10px 20px;
    width: 50%;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}

.login-info{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    color: #7d7d7b;
}

.login-button{
    float: right;
}

#yearly-growth-chart-wrapper {
    margin: 0 auto;
}

#organism-distribution-chart-wrapper {
    margin: 0 auto;
}

.home-charts {
    margin: 0 auto;
}

.home-chart-title {
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.structured-table {
    display: block;
    overflow-x: auto;
}