<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>SampleTab Web Accessioner</display-name>
    <description>
        Web application to assign accession number to a provided SampleTab file
    </description>

    <!--Define configuration to load -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/sampletab-accessioner-config.xml
        </param-value>
    </context-param>

    <!--Define Servlets -->
    <servlet>
        <servlet-name>sampletab-accessioner</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--Define servlet mappings -->
    <servlet-mapping>
        <servlet-name>sampletab-accessioner</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- listener to load context at startup -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
	<filter>
	    <description>Explicitly set the encoding of the page to UTF-8</description>
	    <filter-name>encodingFilter</filter-name>
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	    <init-param>
	        <param-name>forceEncoding</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>
	
</web-app>